- 사기거래탐지

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
card_df = pd.read_csv('../data/ftd/cards_data.csv')
trans_df = pd.read_csv('../data/ftd/transactions_data.csv')
user_df = pd.read_csv('../data/ftd/users_data.csv')
mcc_df = pd.read_json('../data/ftd/mcc_codes.json', orient='index').rename({0:'category'}, axis=1)
fraud_df = pd.read_json('../data/ftd/train_fraud_labels.json')

- card_df의 id는 카드 id = card_id
- user_df의 id는 고객 id = client_id

In [7]:
card_user_df = card_df.merge(user_df, left_on='client_id', right_on='id') #카드 정보와 고객 정보를 병함(카드 데이터를 기준으로)
card_user_df = card_user_df.drop(columns=['card_number','cvv']) #카드 번호, cvv(보안 번호, cvc 번호랑 비슷함) 삭제
card_user_df.rename(columns={'id_x':'card_id'}) #card_df의 id를 card_id로 변경

,card_id,client_id,card_brand,card_type,expires,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,...,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,4524,825,Visa,Debit,12/2022,YES,2,$24295,09/2002,2008,...,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,2731,825,Visa,Debit,12/2020,YES,2,$21968,04/2014,2014,...,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
2,3701,825,Visa,Debit,02/2024,YES,2,$46414,07/2003,2004,...,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
3,42,825,Visa,Credit,08/2024,NO,1,$12400,01/2003,2012,...,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
4,4659,825,Mastercard,Debit (Prepaid),03/2009,YES,1,$28,09/2008,2009,...,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,01/2024,YES,1,$6900,11/2000,2013,...,1,Female,276 Fifth Boulevard,40.66,-74.19,$15175,$30942,$71066,779,3
6142,2711,185,Visa,Credit,01/2021,YES,2,$5700,04/2012,2012,...,1,Female,276 Fifth Boulevard,40.66,-74.19,$15175,$30942,$71066,779,3
6143,1305,1007,Mastercard,Credit,08/2020,NO,2,$9200,02/2012,2012,...,2,Male,259 Valley Boulevard,40.24,-76.92,$25336,$54654,$27241,618,1
6144,743,1110,Mastercard,Debit,01/2020,YES,1,$28074,01/2020,2020,...,11,Female,472 Ocean View Street,42.86,-71.48,$32325,$65909,$181261,673,2
6145,3199,1110,Visa,Credit,12/2020,YES,1,$14400,05/2017,2017,...,11,Female,472 Ocean View Street,42.86,-71.48,$32325,$65909,$181261,673,2

In [14]:
#transaction 데이터에서 json 내용을 매칭 할 때 딕션너리를 쓰는게 더 빠르고 효율적이라서 딕션너리를 새로 정의함
import json

file_path1 = '../data/ftd/mcc_codes.json'
file_path2 = '../data/ftd/train_fraud_labels.json'

with open(file_path1, 'r', encoding='utf-8') as file1:
    mcc_dict = json.load(file1) 

with open(file_path2, 'r', encoding='utf-8') as file2:
    fraud_dict = json.load(file2)

In [15]:
trans_df.head(10)

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN
5,7475333,2010-01-01 00:07:00,1807,165,$4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942,NaN
6,7475334,2010-01-01 00:09:00,1556,2972,$77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
7,7475335,2010-01-01 00:14:00,1684,2140,$26.46,Online Transaction,39021,ONLINE,NaN,NaN,4784,NaN
8,7475336,2010-01-01 00:21:00,335,5131,$261.58,Online Transaction,50292,ONLINE,NaN,NaN,7801,NaN
9,7475337,2010-01-01 00:21:00,351,1112,$10.74,Swipe Transaction,3864,Flushing,NY,11355.0,5813,NaN

In [18]:
#merchant_city가 ONLINE 일 떄 merchant_state도 ONLINE으로 변경
trans_df.loc[trans_df['merchant_city'] == 'ONLINE', 'merchant_state'] = 'ONLINE'

#maping 안되는것 제외하기
trans_df['fraud_label'] = trans_df['id'].map(fraud_dict)
#trans_df['merchant_category'] = trans_df['merchant_id'].map(mcc_dict) ##mcc(상점 분류는 다른 피쳐 엔지니어링를 할 예정)

trans_df = trans_df.drop(columns=['zip','id']) #거래 데이터에서 상점 우편 번호, 거래 id 삭제
#trans_df = trans_df.drop(columns=['zip','id','merchant_id']) #거래 데이터에서 상점 우편 번호 거래 id, 상점 id 삭제(미적용)

In [19]:
trans_df.isnull().sum()

date                     0
client_id                0
card_id                  0
amount                   0
use_chip                 0
merchant_id              0
merchant_city            0
merchant_state           0
mcc                      0
errors            13094522
fraud_label       13305915
dtype: int64

In [20]:
trans_df.head()

,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,mcc,errors,fraud_label
0,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,5499,NaN,NaN
1,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,5311,NaN,NaN
2,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,4829,NaN,NaN
3,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,4829,NaN,NaN
4,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,5813,NaN,NaN